<!DOCTYPE html>
<html>
<head>
    @if (Request.Browser.IsBrowser("IE") && Request.Browser.MajorVersion < 9)
    {
        <meta http-equiv="X-UA-Compatible" content="IE=8" /> 
        <meta http-equiv="Page-Enter" content="blendTrans(Duration=1.0)"/>
        <meta http-equiv="Page-Exit" content="blendTrans(Duration=1.0)"/>
    }
    
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqGridCss/ui.jqgrid.css")" rel="stylesheet" type="text/css" media="screen" />

    <!--link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/themes/redmond/jquery-ui.css" rel="Stylesheet" type="text/css" media="screen" /-->
    <link href="@Url.Content("~/Content/jqGridCss/redmond/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" media="screen" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>

	<!-- overflow:hidden in IE is currently breaking mask calcs :( -->
	<!--[if IE]>
		<style type="text/css">
			.masked { overflow: visible; }
		</style>
	<![endif]-->

	<!--[if lt IE 9]>
	<style>
		.my_layout_table .tr_td_last
		{
			border: 6px ridge #ccc;
		}

		.my_layout_table .td_first 
		{
			border: 6px ridge #ccc;
		}

		.my_layout_table .td_last {
			border: 6px ridge #ccc;
		}

		.ui-widget-overlay {
			position: fixed;  /* <---------- Fix for jQuery Dialog (avoids appearing of browser's scroll bars) */
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	</style>
	<![endif]-->

	<!-- use gif image for IE -->
	<!--[if lt IE 7]>
	<style>
		.tooltip {
			background-image:url(../Content/Images/Tools/black_arrow.png);
		}
	</style>
	<![endif]-->

	<script type="text/javascript">

		window.onresize = function () {
	//        if (window.innerWidth && window.innerHeight) {
	//            winW = window.innerWidth;
	//            winH = window.innerHeight;
	//        }

	/*
			//alert('onresize :' + $('body').height());
			h = $('body').height() / 1.3;
			h = Math.floor(h) - 20;
			$('.my_layout_table tr:nth-child(1)').css('height', h + 'px');
			//$('.td_first').attr('height', h + 'px');
	*/
		}

	</script>

	<script type="text/javascript">
		$(document).ready(function () {
			//$('#preload-gif').css('display', 'none');

			//$.unblockUI();
			//$.blockUI.defaults.message = '<div id="blocking-div"><h2 style="padding-top:10px">Please wait...</h2></div>';
			$.blockUI.defaults.message = '<img src="@Url.Content("~/Content/Images/ajax-loader.gif")"/>';
			$.blockUI.defaults.css.top = '3px';
			$.blockUI.defaults.css.left = '3px';
			$.blockUI.defaults.css.textAlign = 'left';
			$.blockUI.defaults.css.border = 'none';
			$.blockUI.defaults.css.backgroundColor = 'null';
			$.blockUI.defaults.overlayCSS.backgroundColor = '#383838';
			$.blockUI.defaults.centerX = false;
			$.blockUI.defaults.centerY = false;

			// Setup the ajax indicator  
			$('body').append('<div id="ajaxBusy"><img src="@Url.Content("~/Content/Images/ajax-loader.gif")"></div>');
			$('#ajaxBusy').css({ display: "none", margin: "0px", paddingLeft: "0px", paddingRight: "0px", paddingTop: "0px", paddingBottom: "0px", position: "absolute", left: "3px", top: "3px", width: "auto" });

			// Ajax activity indicator bound to ajax start/stop document events
			$(document).ajaxStart(function () {
				$('#ajaxBusy').show();
			}).ajaxStop(function () {
				$('#ajaxBusy').hide();
			});

			$('#menu .content a').each(function () {
				if ($(this).attr('href') == "")
					$(this).css('color', '#585858');
			});

			$('.content a, #dialog a, #button_bio').click(function (e) {
				if ($(this).attr('href') != "" || $(this).is('button'))
					$.blockUI();
				else
					if (e.preventDefault) { e.preventDefault() }

				/*
				$('.wrapper').loading({
				align: 'top-left',
				img: '@Url.Content("~/Content/Images/loading.gif")',
				text: 'Page Loading...',
				effect: 'update'
				//max: 200,
				//mask: true
				});
				*/
			});

			$('.top_bar_menu').click(function (e) {
				if (e.preventDefault) { e.preventDefault() }
			});
		});
	</script>

    <script type="text/javascript">
        var timeoutHnd;
        var isTimeoutExecuted = false;
        //var isEntered = false;
        $(document).ready(function () {
            $('#menu>li>ul').hide();
            $('#menu>li').hover(
                function (event) {
                    // event.type == "mouseenter"

                    //debugger;

                    $currentTab = $(this);
                    if ($currentTab.find('a').length == 0)
                        return;

                    $currentTab.addClass("activeTab");
                    isTimeoutExecuted = true;
                    timeoutHnd = setTimeout(function () { showMenu($currentTab); }, 300);

                    /*
                    if (event.type == "mouseleave") {
                    //debugger;
                    $currentTab.removeClass("activeTab");
                    if (timeoutHnd) {
                    clearTimeout(timeoutHnd);
                    } else {
                    $siblings = $currentTab.find('ul');
                    //if ($siblings.size() > 0)
                    $siblings.slideUp(250);
                    }
                    } else {  //mouseenter
                    $currentTab.addClass("activeTab");
                    timeoutHnd = setTimeout(function () { showMenu($currentTab); }, 100);
                    }
                    */
                },
                function (event) {
                    // event.type == "mouseleave"

                    $currentTab = $(this);
                    $currentTab.removeClass("activeTab");
                    if (isTimeoutExecuted) {
                        clearTimeout(timeoutHnd);
                        isTimeoutExecuted = false;
                        //delete timeoutHnd;
                    } else {
                        //$('#info').text("L22: " + timeoutHnd);
                        $siblings = $currentTab.find('ul');
                        //$('#info').text("L2: " + $siblings.size());
                        if ($siblings.size() > 0)
                            $siblings.slideUp(250);
                    }

                }
            );

            function showMenu(currentTab) {
                isTimeoutExecuted = false;
                $currentTab = currentTab;
                $animated_tab = $('#menu ul:animated');
                var go = true;

                if (go) {
                    $content = $currentTab.find('ul');

                    if ($content.size() > 0 && $content.offset().left == 0) {
                        //var body = $(body).offset();
                        var pos = $currentTab.offset();
                        var height = $currentTab.height();
                        $content.css({ "left": pos.left + "px" });
                        //$content.css({ "left": pos.left + "px", "top": (pos.top - 10) + "px" });
                        //alert(content + ": " + v.left + " " + v.top);
                    }

                    $currentTab.addClass("activeTab");
                    $currentTab.find('ul').slideDown(250);
                }
            }
        });
    </script>  

    <style>
        body
        {
            color: #000;
            background-color:#c8c8c8;
            @*background-image: url(@Url.Content("~/Content/Images/stripe.png"));*@
@*            
            color: #000;
            background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#ccc)); /* For WebKit (Safari, Google Chrome etc) */
            background: -moz-linear-gradient(top, #999, #ccc); /* For Mozilla/Gecko (Firefox etc) */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFCCCCCC); /* For Internet Explorer 5.5 - 7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF999999, endColorstr=#FFCCCCCC)"; /* For Internet Explorer 8 */
*@            
        }

        #menu2
        {
            @*
            color: #000;
            background: -webkit-gradient(linear, left top, right top, from(#ccc), to(#999), color-stop(0.2, #ccc)); /* For WebKit (Safari, Google Chrome etc) */
            background: -moz-linear-gradient(left top, #ccc, #999 70%); /* For Mozilla/Gecko (Firefox etc) */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFCCCCCC, endColorstr=#FF999999, GradientType=1); /* For Internet Explorer 5.5 - 7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFCCCCCC, endColorstr=#FF999999, GradientType=1)"; /* For Internet Explorer 8 */
            *@
        }
    </style>
 
</head>
<body>

@*
        <div id="canvasloader-container">
        </div>

            <script type="text/javascript">
                var cl = new CanvasLoader('canvasloader-container');
                cl.setColor('#29679e');
                //cl.remove();
	        </script>

        <div id="html5Loader" class="wrapper">
            <script type="text/javascript">
                $(window).load(function () {
                    $('#html5Loader').html5Loader({
                        debugMode: 'false'
                    })
                });

	        </script>
        </div>
*@

        <div class="wrapper">
            @*<div id="preload-gif"><h2 style="padding-top:10px">Please wait...</h2></div>*@
            @*<div id="preload-gif"><img alt="preload" src="@Url.Content("~/Content/Images/ajax-loader.gif")"></div>*@


            <div>
                <div id="logindisplay" style="height:13px">
                    <div id="info" style="float:left;"></div>
                    @*@Html.Partial("_LogOnPartial")*@
                </div>

                <script type="text/javascript">
                    //alert($('#logindisplay').height());
                </script>

                @*@Html.ActionLink("Contracts", "Index", new { controller = "Contracts" }, new { @class = "image_wizarg_page", width="160px", height="100px" })*@
                <div>
                    <ul id="menu">
                        <li>Sales BackOffice</li>
                        <li><a href="#" class="top_bar_menu">Sales Document Flow</a>
                            <ul class="content">  
                                <li>@Html.ActionLink("Contracts / P.O.", "Index", "Contracts")</li>  
                                <li><a href="">Contracts <small>(P.O. Details)</small></a></li>  
                                <li><a href="">Purchase Requisition</a></li>  
                                <li><a href="">Store Receipt Voucher</a></li>  
                                <li><a href="">Delivery Note</a></li>  
                                <li><a href="">Invoice</a></li>  
                                <li><a href="">Invoice Under Conditions</a></li>  
                                <li><a href="">Dummy Invoice</a></li>  
                                <li><a href="">Store Items</a></li>  
                            </ul>                          
                        </li>
                        <li><a href="#" class="top_bar_menu">Statistical Analysis</a>
                            <ul class="content">
                                <li><a href="">Sales Incentive</a></li>  
                                <li><a href="">Cost vs Profit</a></li>  
                                <li><a href="">Sales for Customers</a></li>  
                                <li><a href="">Sales by A/Managers</a></li>  
                                <li>@Html.ActionLink("Pending Purchase Requisitions", "Index", "PendingTransactions")</li>  
                                <li><a href="">Pending Store Reseipt Vouchers</a></li>  
                                <li><a href="">Pending Delivery Notes</a></li>  
                                <li><a href="">Outstanding Invoices</a></li>  
                                <li><a href="">Outstanding Contracts</a></li>  
                            </ul>                        
                        </li>
                        <li><a href="#" class="top_bar_menu">Reports</a>
                            <ul class="content">  
                                <li><a href="">Sales Incentive</a></li>  
                                <li><a href="">Cost vs Profit</a></li>  
                                <li><a href="">Sales for Customers</a></li>  
                                <li><a href="">Sales by A/Managers</a></li>  
                                <li><a href="">Purchase Requisitions</a></li>  
                                <li><a href="">Pending Purchase Requisitions</a></li>  
                                <li><a href="">Delivery Notes</a></li> 
                                <li><a href="">Invoices</a></li>  
                                <li><a href="">Outstanding Invoices</a></li>  
                                <li><a href="">Store Receipt Vouchers</a></li>  
                                <li><a href="">Closed Business</a></li>  
                                <li><a href="">Financial Report</a></li>  
                                <li><a href="">Supplier List</a></li>  
                                <li><a href="">FollowUp Report</a></li>  
                                <li><a href="">FollowUp (Conditional Invoice)</a></li>  
                                <li><a href="">Delivery Notes List</a></li>  
                                <li><a href="">Store Receipt Voucher List</a></li>  
                                <li><a href="">Contracts</a></li>  
                            </ul>                        
                        </li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <!--li><a href="#" id="_3" class="tab">Pages</a></li-->
                    </ul>
                </div>
            </div>
            <div style="height:85%">
                <div style="height:100%">
                    <table class="my_layout_table" style="table-layout:fixed; border-collapse: separate; height:100%">
                        <tr style="height:97%">
                            <td id="td_first" class="td_first" style="height:inherit; min-width:645px; width:auto; vertical-align:top;">
                                <div id="main" style="height:inherit; padding: 10px;">
                                    @RenderBody()
                                </div>
                            </td>
                            <td class="td_last" style="height:inherit; width:300px; vertical-align:top;">
                                <div id="right_section" style="height:inherit; padding: 10px;">
                                    @RenderSection("SidePanel", false)
                                </div>
                            </td>
                        </tr>
                        <tr style="height:10%">
                            <td class="tr_td_last" colspan="2" style="height:48px; padding-left:5px; vertical-align:middle;">
                                <button id="button_home" type="button" title="Home Page" style="float:left;" 
                                    onclick="window.location = '@Url.Action("Index", "Home")'">
                                    <img alt="Home" src="@Url.Content("~/Content/Images/HomeHS.png")" style="height:30px;"/>
                                </button>

                                <button id="button_camera" type="button" title="Video Camera ActiveX control (IE only)" style="float:left;">
                                    <img alt="Camera" src="@Url.Content("~/Content/Images/Camera.png")" style="border-style:none"/>
                                </button>
                                @*<a id="anchor_camera" href="@Url.Action("SetCamera", "Home")">
                                    <p style="display:inline">
                                        <button id="button_camera" type="button" title="Video Camera ActiveX control (IE only)" style="float:left">
                                            <img alt="Camera" src="@Url.Content("~/Content/Images/Camera.png")" style="border-style:none"/>
                                        </button>
                                    @*</p>
                                </a>*@

                                <button id="button_wizard" type="button" title="Wizard:<br/> - Application overview<br/> - Current application implementation"
                                    style="float:left;">
                                    <img alt="Wizard" src="@Url.Content("~/Content/Images/Wizard_Sparkle.png")"/>
                                </button>

                                <button id="button_bio" type="button" title="Bio Page" style="float:left;"
                                    onclick="window.location = '@Url.Action("Index", "Bio")'">
                                    <img alt="Home" src="@Url.Content("~/Content/Images/TheMostWanted.png")" style="height:30px; width:100px;"/>
                                    <em style="font-weight:bold; font-size:larger">The most wanted!!!</em>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <!--div style="height:10%; margin: 0 11px; box-shadow: 3px 3px 10px #666;"></div-->
                </div>
            </div>
            <!--div class="push"></div-->
        </div>

        <div id="footer">
            Copyright &copy; 2011 Telecom & Information Technology Group (TiTG). All rights reserved.
        </div>

	    <script type="text/javascript">
	        var numberOfWizardPages = 2;
	        var wizardPageNumber = 1;
	        var buttonBack, buttonNext;

	        function setButtonState() {
	            if (wizardPageNumber == 1) {
	                $(buttonBack).prop('disabled', true);
	                $(buttonNext).prop('disabled', false);
	            } else {
	                $(buttonBack).prop('disabled', false);
	                $(buttonNext).prop('disabled', true);
	            }
	        }

	        function navigateWizardPages() {
	            setButtonState();
	            if (wizardPageNumber == 1) {
	                $('#button_wizard').prop('title', 'Wizard - Application overview');
	                $('#wPage2').hide();
	                $('#wPage1').show(600, 'linear');
	                /*$('#wPage1').show(600, 'linear').animate({
	                    opacity: 0.25,
                        width: '+20'
                    }, 500);*/
	            } else if (wizardPageNumber == 2) {
	                $('#button_wizard').prop('title', 'Wizard - Current application implementation');
	                $('#wPage1').hide();
	                $('#wPage2').show(600, 'linear');
	            }
	        }

	        // increase the default animation speed to exaggerate the effect
	        $.fx.speeds._default = 1000;
	        $(function () {
	            //$('#button_wizard').css({ 'display': 'none' });
	            $('#button_camera, #button_wizard').tooltip({
	                //tip:'.tooltip',
                	effect:'fade',
	                fadeOutSpeed: 100,
                    predelay: 200
	                // tweak the position
	                //offset: [10, -30],
	                //effect: 'toggle',
                    //opacity: 0.9,
	                // use the "slide" effect
	                //effect: 'slide'
	                // add dynamic plugin with optional configuration for bottom edge
	            });

	            $('#button_wizard').click(function () {
	                navigateWizardPages();
	                $('#dialog').dialog('open');
	                //$(this).fadeOut(200);
	            });

	            $('#dialog').dialog({
	                autoOpen: false,
	                show: "slide",
	                hide: "fadeOut",
	                resizable: false,
	                height: 380,
	                width: 640,
	                //8position: ['left', 'top'],
	                position: ['center'],
	                modal: true,
	                //title: '<img id="image_wizard" style="float:left; alt="Wizard Dialog" src="@Url.Content("~/Content/Images/Wizard_Sparkle.png")"/><span style="float:left; font-family:\'Trebuchet MS\'; font-style:oblique; font-size: 1.5em; margin-left:20px; margin-top:4px;">Wizard Dialog</span>',
	                buttons: {
	                    "< Back": function () {
	                        wizardPageNumber--;
	                        navigateWizardPages();
	                    },
	                    "Next >": function () {
	                        wizardPageNumber++;
	                        navigateWizardPages();
	                    },
	                    //"Finish": function () {
	                    //    $(this).dialog("close");
	                    //},
	                    Cancel: function () {
	                        $(this).dialog("close");
	                    }
	                },
	                close: function (event, ui) {
	                    //$('#button_wizard').fadeIn(100);
	                }
	            });

	            widget = $('#dialog').dialog("widget");
	            var arr = $(widget).find('.ui-button');
	            buttonBack = arr[0];
	            buttonNext = arr[1];

	            setButtonState();

	        });
        </script>

        @{
            if (Session["wizardPageNumber"] == null)
            {
	            <script type="text/javascript">$(function () {navigateWizardPages(); $('#dialog').dialog('open'); });</script>
                Session["wizardPageNumber"] = "1";
            }
            else
            {
	            <script type="text/javascript">
	                $(function () {
	                    wizardPageNumber = 2;
	                    //$('#button_wizard').css({ 'display': 'block' }); 
	                });
                </script>
            }
        }

        <div id="dialog" style="padding:0">
            <div id="wPage1" style="display:none; padding:0 10px">
                <pre style="font-family:'Trebuchet MS'; font-size: 0.95em;">
The purpose of this web application is to complement an existing Windows application
that was created (and still running) 15 years ago for the Sales Department of one of a Kuwaiti company.
Another aim was to prove a concept of using the latest Microsoft and third party tools and technologies
to develop an MVC/jQuery application to serve as a front end for a legacy data. ( * )

The technologies and products involved:
    • Microsoft MVC 3 (Razor View Engine)
    • HTML 5 semantic, CCS 3
    • JQuery, JQuery UI Plugins
    • Microsoft SQL Server, Entity Framework, LINQ to SQL
    • Video streaming, Microsoft C++, DirectX technology
    • TDD, Visual Studio Unit Test Framework
    • Public Key Infrastructure
    • Windows Azure, SQL Azure

(*) The live data are being compromised on a transmission for a conspiracy reason.

Note: Currently Microsoft does not provide any Windows Azure support for the Middle East, so this application
is distributed across the datacenters in West Europe. As a result, it might introduce a slight delay.

Contact information:
(965)66486696 rid50@hotmail.com
Роман Давиденко / Roman Davidenko
                </pre>
            </div>
            <div id="wPage2" style="display:none; padding:10px 0 0 10px; border:0px solid black;">
                <div>
                    <a href='@Url.Action("Index", "Contracts")'> 
                        <img class="image_wizarg_page" style="float:left; margin-right:15px" alt="" src="@Url.Content("~/Content/Images/Contracts160.png")"/>
                    </a> 
                    <div style="border:0px solid red;">
                        <strong>Contract List Master/Detail Page</strong>
                        <hr />
                        The page allows for:
                        <blockquote style="margin-top:0;">
                            <ul style="list-style-type:circle; list-style-position:inside;" >
                                <li><em>Browse, edit and search for the contracts' records</em></li>
                                <li><em>Navigate through the contracts' details items</em></li>
                            </ul>
                        </blockquote>
                        A search option looks for 'Contract Id' and 'Contract Name' only.
                    </div>
                </div>
                <div style="margin-top:20px;">
                    <a href='@Url.Action("Index", "PendingTransactions")'> 
                        <img class="image_wizarg_page" style="float:left; margin-right:15px" alt="" src="@Url.Content("~/Content/Images/PurchaseRequest160.png")"/>
                    </a> 
                    <div style="border:0px solid red;">
                        <strong>Pending Purchase Order Request</strong>
                        <hr />
                        The goal of the page is to:
                        <blockquote style="margin-top:0;">
                            <ul style="list-style-type:circle; list-style-position:inside;" >
                                <li><em>Reviewing Pending Purchase Requisitions</em></li>
                                <li><em>Reporting on Pending and Processed Requisitions</em></li>
                            </ul>
                        </blockquote>
                        Since the data is outdated, the list shows all Purchase Requisitions<br/>
                        received by the Sales Department pending for necessary actions.
                    </div>
                </div><br /><br />
                <strong>(Click an image to open a page)</strong>
            </div>
        </div>

        <script src="@Url.Content("~/Scripts/cameraObjectScript.js")" type="text/javascript"></script>
	    <script type="text/javascript">
	        $(function () {
	            /*
	            function notifyObserver() {
	            if (this.readyState = 'complete') {
	            alert('complete');
	            // object is loaded successfully
	            }
	            }
	            */

	            $('#button_camera').click(function () {
	                //alert($.browser.msie);
	                //$('#info').text($.browser.msie);
	                if (!$.browser.msie)
	                    return;

	                if (!document.getElementById('myVideo')) {
	                    $('#camera_text').dialog('open');
	                    $('#camera_text').show();
	                } else
	                    OpenCamera();
	            });

	            //$('#button_camera').click(function () {
	            function OpenCamera() {
	                //alert($.browser.msie);
	                //$('#info').text($.browser.msie);
	                if (!$.browser.msie)
	                    return;

	                //$('#camera').prop('display', 'block');
	                $('#camera').dialog('open');
	                if (createCameraObject('@Url.Content("~")')) {

	                    //setTimeout(function () { document.getElementById('myVideo').style.display = 'block'; }, 1000);
	                    //setTimeout(function () { document.getElementById('myVideo').style.visibility = 'visible'; }, 1000);

	                    //document.getElementById('myVideo').style.display = 'block';
	                    //document.getElementById('myVideo').style.visibility = 'visible';
	                    //$('#myVideo').prop('display', 'block');

	                    try {
	                        //setTimeout(function () {
	                        document.getElementById('myVideo').style.visibility = 'visible';
	                        //}, 1000);
	                    } catch (err) { }

	                    try {
	                        //setTimeout(function () {
	                        myVideo.StartAxVideoControl();
	                        //}, 1000);
	                    } catch (err) { }
	                }
	            }

	            $('#camera').dialog({
	                autoOpen: false,
	                //show: "slide",
	                hide: "fadeOut",
	                resizable: false,
	                height: 490,
	                width: 590,
	                position: ['left', 'top'],
	                //position: ['center'],
	                modal: true,
	                //title: '<img id="image_wizard" style="float:left; alt="Camera" src="@Url.Content("~/Content/Images/Camera.png")"/><span style="float:left; font-family:\'Trebuchet MS\'; font-style:oblique; font-size: 1.5em; margin-left:20px; margin-top:4px;">Camera</span>',
	                buttons: {
	                    Cancel: function () {
	                        $(this).dialog("close");
	                    }
	                },
	                close: function (event, ui) {
	                    try {
	                        myVideo.StopAxVideoControl();

	                        //if (document.getElementById('myVideo')) {
	                        //    cameraDiv = document.getElementById('camera');
	                        //    while (cameraDiv.firstChild) cameraDiv.removeChild(cameraDiv.firstChild);
	                        //}
	                    }
	                    catch (err) { }
	                    //$('#camera').prop('display', 'none');
	                }
	            });

	            $('#camera_text').dialog({
	                autoOpen: false,
	                //show: "slide",
	                hide: "fadeOut",
	                resizable: false,
	                height: 550,
	                width: 590,
	                position: ['left', 'top'],
	                //position: ['center'],
	                modal: true,
	                //title: '<img id="image_wizard" style="float:left; alt="Camera" src="@Url.Content("~/Content/Images/Camera.png")"/><span style="float:left; font-family:\'Trebuchet MS\'; font-style:oblique; font-size: 1.5em; margin-left:20px; margin-top:4px;">Camera</span>',
	                buttons: {
	                    Ok: function () {
	                        $(this).dialog("close");
	                        OpenCamera();
	                    },
	                    Cancel: function () {
	                        $(this).dialog("close");
	                    }
	                },
	                close: function (event, ui) {
	                }
	            });

	        });
        </script>

        <div id="camera" style="padding:0;">
        </div>

        <div id="camera_text" style="padding:0; display:none">
    <pre>

  The ActiveX Video Control will be downloaded from a server
  and installed on your computer.
  A root certificate of the digital signature used to sign
  this Video Control is not trusted by your browser,
  so in order to get the control installed, you have to lower
  a security level of the browser for the Internet zone:

    • Internet Options
    • Security tab
    • Custom Level
    • ActiveX controls and plug-ins
    • Download unsigned ActiveX controls
    • Prompt

  After changing the security level, press 'Ok',
  the browser will ask your permission to install the Control,
  click 'Install', then after some time,
  press a 'Camera' button again, press 'Ok',
  press 'Install'.
  (this cumbersome procedure happens because, the Control
  has been signed using certificate issued by not authorized
  Certification Authority).

  After installation, do not forget to return back
  the settings for the Internet security.
  
  You can always uninstall the ActiveX Video Control using
  Control Panel > Programs and Features,
  the name of the installer is TiTGActiveXControlsInstaller.
    
    </pre>
        </div>

        <script type="text/javascript">
            $(function () {
                //var height2 = '100px';
                $('#alert').dialog({
                    autoOpen: false,
                    show: "slide",
                    hide: "fadeOut",
                    //width: bodyWidth,
                    resizable: false,
                    //height: 100,
                    //width: 240,
                    //8position: ['left', 'top'],
                    //position: ['center'],
                    modal: true,
                    //title: '<span style="float:left; font-family:\'Trebuchet MS\'; font-style:oblique; font-size: 1.5em; margin-left:20px; margin-top:4px;">Server Error</span>',
                    buttons: {
                        Close: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        //$('#button_wizard').fadeIn(100);
                    }
                });

                $('.ui-widget-overlay').live("click", function () {
                    $("#alert").dialog("close");
                });

            });
        </script>

        <div id="alert" style="display:none">
            <div id="alertContent"></div>
        </div>
        
        <style type="text/css" media="screen">
            .ui-dialog { display:block; box-shadow: 2px 2px 4px #888; -moz-box-shadow: 2px 2px 4px #888; -webkit-box-shadow: 2px 2px 4px #888; }
            .ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
            .ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative; display:none;}
            /*
            .ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; }
            .ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
            .ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
            .ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
            .ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
            */
            .ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: 0; padding: 0; border: 0;}
            .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { text-align:center; padding: 0.5em}

            /*.ui-dialog .ui-dialog-buttonpane button { margin: 0; cursor: pointer; text-align:center;width:100%; padding:10px 0px;background: #09F;border-radius: 8px;color: white;border-style: solid;border-color: #CCC;}*/
            /*.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }*/
            /*.ui-draggable .ui-dialog-titlebar { cursor: move;}*/
        </style>
        


        <div id="script_section">

            <script src="@Url.Content("~/Scripts/my-loader.js")" type="text/javascript"></script>
            <script type="text/javascript">myScriptsGridInclude('cdn', '@Url.Content("~")');</script>

            <!--script src="http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js" type="text/javascript"></script-->

            @*<script src="@Url.Content("~/Scripts/jqGridJs/grid.loader.js")" type="text/javascript"></script>*@
            <script src="@Url.Content("~/Scripts/jqGridJs/i18n/grid.locale-en.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jqGridJs/jquery.jqGrid.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jqGridJs/grid.filtergrid.js")" type="text/javascript"></script>

            <script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>

            <script src="@Url.Content("~/Scripts/Site.Master.js")" type="text/javascript"></script>


@*<script src="http://www.gmodules.com/ig/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/110798108921287845009/assoc_finance_currencies.xml&amp;up_height=420&amp;up_font_size=10&amp;up_update_period=60000&amp;up_selectedTab=0&amp;up_defaultTab=-1&amp;up_timeToken=0&amp;up_isLocalStorage=0&amp;synd=open&amp;w=300&amp;h=420&amp;title=Assoc+Finance+-+Major+Currencies&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js" type="text/javascript"></script>*@

            @if (false)
            {
                <!--script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2-vsdoc.js" type="text/javascript"></script-->
                <script src="@Url.Content("~/Scripts/jquery-1.5.1-vsdoc.js")" type="text/javascript"></script>

            }

            @RenderSection("ScriptContent", false)
        </div>

</body>
</html>
